<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="MoviesBest" connectionString="Data Source=DELL-PC;Initial Catalog=MoviesBest;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    

    <!--<customErrors mode="On" defaultRedirect="~\Error.html">
      <error statusCode="404" redirect="~\Error.html"/>
      <error statusCode="401" redirect="~\Error.html"/>
      <error statusCode="500" redirect="~\Error.html"/>

    </customErrors>-->
  </system.web>
      <system.web>
    <authentication mode="Forms" >
      <forms  loginUrl="Pages/LoginAmin.aspx">

      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>



      </system.web>
  <location path="Pages/HomePage.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/ListMovies.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>



  <location path="Pages/Login.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/Register.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Pages/LoginManger.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>



  <location path="Pages/Buy.aspx">
    <system.web>
      <authorization  >
        <allow users ="*"  />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/OneMovies.aspx">
    <system.web>
      <authorization  >
        <allow users ="*"  />
      </authorization>
    </system.web>
  </location>


  <location path="Pages/PurchaseNot.aspx">
    <system.web>
      <authorization  >
        <allow users ="*"  />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/IsertAdmin.aspx">
  <system.web>
    <authorization  >
      <allow users ="?"  />
    </authorization>
  </system.web>
  </location>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
