
@{
    ViewBag.Title = "MockGetNode";
}

<h2>this is in floder nodeMock</h2>
<img src="~/imageNodejs/moke1.PNG" />
<img src="~/imageNodejs/mock2.PNG" />
<img src="~/imageNodejs/mock3.PNG" />
<img src="~/imageNodejs/mock4.PNG" />
<img src="~/imageNodejs/mock6.PNG" />
<img src="~/imageNodejs/moke7.PNG" />
<img src="~/imageNodejs/mock8.PNG" />