<button class="btn btn-success" id="btnTrue">True realy client   </button>
<br />
<br />
<hr />
<button class="btn btn-success" id="btnFalse">False not realy client</button>

<div class="container">

    <table class="table table-hover" id="Get">

        <tr>
            <th>ID</th>
            <th>Game Name</th>
            <th>Player one</th>
            <th>player two</th>
            <th>how ww</th>
        </tr>


    </table>
</div>
