
@{
    ViewBag.Title = "DeletAjax";
}

<h2>DeletAjax</h2>

<input type="number" placeholder="ID" id="idDelet" class="form-control" min="1" />

<button class="btn btn-warning" id="btndelet">DELET</button>

<div class="container">

    <table class="table table-hover" id="Get">

        <tr>
            <th>ID</th>
            <th>Game Name</th>
            <th>Player one</th>
            <th>player two</th>
            <th>how ww</th>
        </tr>


    </table>
</div>

<a href="~/Ajax/GetAjax" class="btn btn-warning" role="button">Back to Home Page ajax</a>
