
@{
    ViewBag.Title = "GetObservable";
}

<h2>GetObservable</h2>

<button id="GetObservable" class="btn btn-danger">Get observable mouseover</button>
<button id="GetObservableclick" class="btn btn-danger">Get observable click</button>


<div class="container">

    <table class="table table-hover" id="Get">

        <tr>
            <th>ID</th>
            <th>Game Name</th>
            <th>Player one</th>
            <th>player two</th>
            <th>how ww</th>
        </tr>


    </table>
</div>



