
@{
    ViewBag.Title = "Delet";
}

<h2>Delet</h2>
<input type="number" placeholder="ID" onclick="delet()" id="idDelet" class="form-control" min="1" />

<button class="btn btn-primary" id="btndelet">DELET</button>

<div class="container">

    <table class="table table-hover" id="Get">

        <tr>
            <th>ID</th>
            <th>Game Name</th>
            <th>Player one</th>
            <th>player two</th>
            <th>how ww</th>
        </tr>


    </table>
</div>

<a href="~/Page/GET" class="btn btn-primary" role="button">Back to Home Page XMLHttpRequest</a>
