
@{
    ViewBag.Title = "Post";
}

<h2>Post</h2>




 

<input type="text" placeholder="Game Name" id="txtGameName" />
<input type="text" placeholder="player one" id="txtPlayer1" />
<input type="text" placeholder="player two" id="txtPlayer2" />
<input type="text" placeholder="who ww?" id="txtwhoWW" />

<button class="btn btn-primary" onclick="post()">POST</button>

<div class="container">

    <table class="table table-hover" id="Get">

        <tr>
            <th>ID</th>
            <th>Game Name</th>
            <th>Player one</th>
            <th>player two</th>
            <th>how ww</th>
        </tr>


    </table>
</div>
<a href="~/Page/GET" class="btn btn-primary" role="button">Back to Home Page XMLHttpRequest</a>